{% extends "adminlayout.html" %}
{% block body %}
<header id='mainpost' style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('{{ url_for('static', filename ='../static/blogpostthumbnail/banner2.jpg')}}')  " onmouseover="enavpo()">
    <h1 class="postheading">user info</h1>
</header>





<div id="lrfmain">
    <h1 id="lfrhed">users</h1>
    {% for account in acc %}
    <div id="lfrbody">
        <div>
            <h2>
               <a href="#">user name : {{account.user_name}}</a>
            </h2>
        </div>
        <div>
            <p><a href="#">password : {{account.password}}</a></p>
            <p><a href="#">email : {{account.mail}}</a></p>
            <p><a href="#">mo.no : {{account.mo_no}}</a></p>
            <p><a href="#">sign up date : {{account.sdate}}</a></p>
        </div>
        <div>
            <a href="/deleteuser/{{account.user_name}}"><button>delete</button></a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}